
    /*  css that was created for accountsCcc but seems to no longer be used/needed */



/* COMMON css NOT USED !  Where multiclass definition is used -XXX denotes the one that is not needed, the others are still required and the definition will still be in use in the main body of css
                     VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV*/

.monthBtn, .NameSelBtn, .namesSelPanelNewBut-XXX, .calDaysOfMnthBut, .calMnthBut, .calYearBut {
    border: 1px solid blue;
    text-align:left;
    color: #606060;
    cursor: pointer;
    background-color: white;
}

.docBtnOneDiv {
    float:left;
}

.docBtn, .tickBtn, .docBtnHeading, .docAmntHeading, .tickBtnHeading, .docBtnHeadingWide, .amountText, .refTextBox {
    background-color: white;
    border: 1px solid white;
    color: black;
    cursor: pointer;
    vertical-align: top;
    text-align:left;
}

.docBtnHeading, .docAmntHeading, .tickBtnHeading, .docBtnHeadingWide {
    color: blue;
    font-weight:bold;
    border-left:1px solid #D0D0D0;
}

.docBtn:hover, .tickBtn:hover {
    background-color: #E0E0FF;
}

.docBtnSelected-XXX, .tickBtnSelected-XXX, .docBtnEdit-XXX, .copyButSel, .copyBut {
    background-color: #D0D0FF;
    border: 1px solid #D0D0FF;
    color: black;
    cursor: pointer;
    vertical-align: top;
    text-align:left;
}  

.docBtnFilter {
    border: 1px solid royalblue;
} 

.docBtnEdit {
    background-color: #A0FFA0;
} 

.namesSelPanelDiv, .namesDisplayPanelDiv, .namesAddPanelDiv, .varietySelPanelDiv, .tagSelPanelDiv {
    overflow:auto;
    background-color:#FFFFFF;
    float:left;
}

.selInnerDivs {
    background-color:#FFFFFF;
    float:left;
}

.namesAddPanelDiv {
        background-color: #EEEEEE;
}

.addTextBoxHighlight {
    border: 2px solid blue;
    background:none;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    background-color: #F89F05;
    color: white;
    font-weight: bold;
}

.addTextBoxHighlight {
    border: 2px solid blue;
    background:none;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    background-color: #F89F05;
    color: white;
    font-weight: bold;
}

.dateGrey {
    color:#A0A0A0;
}

.dateBlackBold {
    font-weight:bold;
}

.dateHidden {
    display:none;
}

.docSelectContainer-XXX, .docDisplayContainerRecs {
    float:left;
    background-color: #F8F8F8;
}



/* HD section css not used  VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV */

    .docBtnOneDiv {
        width:116px;
        margin-bottom:5px;
    }

	.docBtn, .docBtnSelected, .docBtnHeading, .docAmntHeading, .docBtnHeadingWide, .docBtnFilter, .amountText, .refTextBox, .docBtnEdit {                   
        width:98px;
        min-height:30px;
        margin-left: 7px;
        margin-top: 5px;
        padding: 1px 5px;
        font-size: 14px;
    }

     .amountText {
        cursor: text;
        margin-top: 5px;
        height:15px;
        width:70px; 
    }

    .refTextBox {
        cursor: text;
        margin-top: 5px;
        height:15px;
        width:88px; 
    }

    .docBtnHeading {                   
        width:100px;
    }

    .docAmntHeading {                   
        width:80px;
    }

    .docBtnHeadingWide {                   
        width:300px;
    }

    .tickBtn, .tickBtnHeading, .tickBtnSelected {                   
        width:20px;
        min-height:30px;
        margin-left: 10px;
        margin-top: 5px;
        padding: 1px 5px;
        font-size: 14px;
    }

    .namesSelPanelDiv {
        width:450px;
        height:830px;
    }

    .namesDisplayPanelDiv {
        width:444px;
        height:200px;
    }

    .varietySelPanelDiv {
        width:158px;
        height:830px;
    }

    .tagSelPanelDiv {
        width:158px;
        height:785px;
    }

    .selInnerDivs { 
        width:143px;
    }

    .namesAddPanelDiv {
        width:1095px;
        height:700px;
    }

    .docCheckBox {
        width:30px;
    }

    .addTextBoxHighlight {
        font: bold 16px/100% Verdana, Tahoma, sans-serif;
        height:25px;
        width:250px;
        margin-top:40px;
        margin-left:100px;
    }

    .dateGrey, .dateBlackBold {
        font-size:14px;
    }

    .docSelectContainer {
        width:1025px;
        height:825px;
        font:10px/150% Verdana, Tahoma, sans-serif;
    }

    .transCreateContainer {
        width:1095px;
        height:195px;
        overflow:auto;
        background-color: #FF7070;
    }

    .docDisplayIframe {	
        width:800px;
        height:908px;
    }

    .docDisplayIframeRecs {
        width:600px;
        height:908px;
    }







/*  css for different display sizes from HD - temporarily removed from main accCcc.css, may be reconstructed for lower resolutions from HD version bit by bit

/*
#################################      ####################
#################################      ####################
#################################      ####################
#################################      ####################
#################################      ####################
#################################      ####################
#################################      ####################
*/

@media screen and (min-width:1360px) and (max-width:1909px) { /* widescreen 1366 x 768 (#### ORDINARY LAPTOP ####) with Firefox or Chrome maximised */
    
    .mainContainer {
        width: 1350px;
        height: 625px;
    }

    .docBtn {                       /* menu.php, selScansForUpload.php */
        background-color: #E0E0E0;
        border: none; /* Remove standard borders */
        color: Black;
        padding: 2px 2px;
        font-size: 11px;
        cursor: pointer;
    }

    .docBtn:hover {
        background-color: #A0A0A0;
    }

    .btn {                       /* menu.php, selScansForUpload.php */
        background-color: DodgerBlue;
        border: none; /* Remove standard borders */
        color: white;
        padding: 5px 5px;
        font-size: 12px;
        cursor: pointer;
    }

    .btn:hover {
        background-color: RoyalBlue;
    }

    .btnSelected {
        background-color: White; 
        border: none;
        color: DodgerBlue;
        border: 1px solid blue;
        padding: 4px 4px;
        font-size: 12px;
        cursor: pointer;
    }

    

    .menuBar {                   /* menu.php */
        width:795px;
        height:31px;
        background-color: #FFFFFF;
    }

    .scansForUpldContainer {     /* selScansForUpload.php */
        width:795px;
        height:200px;
        background-color: #FF7070;
    }

    .scanListContainer {         /* selScansForUpload.php */
        width:795px;
        height:385px;
        overflow:auto;
        background-color: #FFAA70;
    }

    .docSelectionContainer {     /* captureDocDetails.php */
        width:795px;
        height:350px;
        overflow: auto;
        font:10px/150% Verdana, Tahoma, sans-serif;
        background-color: White;
    }

    .transCreateContainer {      /* captureDocDetails.php */
        width:795px;
        height:195px;
        overflow:auto;
        background-color: #FF7070;
    }

    .docDisplayIframe {          /* selScansForUpload.php, captureDocDetails.php */
        width:550px;
        height:620px;
    }
}







/*
####################      #################################
####################      #################################
####################      #################################
####################      #################################
####################      #################################
####################      #################################
####################      #################################
*/

@media screen and (min-width:1023px) and (max-width:1359px) { /* iPad 4 landscape */
    .docBtn {                       /* menu.php, selScansForUpload.php */
        background-color: #E0E0E0;
        border: none; /* Remove standard borders */
        color: white;
        padding: 2px 2px;
        font-size: 8px;
        cursor: pointer;
    }

    .docBtn:hover {
        background-color: #A0A0A0;
    }

    .btn {                       /* menu.php, selScansForUpload.php */
        background-color: DodgerBlue;
        border: none; /* Remove standard borders */
        color: white;
        padding: 4px 4px;
        font-size: 9px;
        cursor: pointer;
    }

    .btn:hover {
        background-color: RoyalBlue;
    }

    .btnSelected {
        background-color: White; 
        border: none;
        color: DodgerBlue;
        border: 1px solid blue;
        padding: 3px 3px;
        font-size: 9px;
        cursor: pointer;
    }

    .mainContainer {
        width: 1010px;
        height: 640px;
    }

    .menuBar {                   /* menu.php */
        width:590px;
        height:25px;
        background-color: #FFFFFF;
    }

    .scansForUpldContainer {     /* selScansForUpload.php */
        width:590px;
        height:200px;
        background-color: #FF7070;
    }

    .scanListContainer {         /* selScansForUpload.php */
        width:590px;
        height:385px;
        overflow:auto;
        background-color: #FFAA70;
    }

    .docSelectionContainer {     /* captureDocDetails.php */
        width:590px;
        height:350px;
        overflow: auto;
        font:10px/150% Verdana, Tahoma, sans-serif;
        background-color: White;
    }

    .transCreateContainer {      /* captureDocDetails.php */
        width:590px;
        height:195px;
        overflow:auto;
        background-color: #FF7070;
    }

    .docDisplayIframe {          /* selScansForUpload.php, captureDocDetails.php */
        width:417px;
        height:635px;
    }

}






/*
#####      ################################################
#####      ################################################
#####      ################################################
#####      ################################################
#####      ################################################
#####      ################################################
#####      ################################################
*/

@media screen and (max-width:1022px) { /* Nexus 6P landscape with Android navigation buttons still on screen (only displays full height with navigation bar at top pushed out of the way) */
    .btn {                       /* menu.php, selScansForUpload.php */
        background-color: DodgerBlue;
        border: none; /* Remove standard borders */
        color: white;
        padding: 4px 4px;
        font-size: 7px;
        cursor: pointer;
    }

    .btn:hover {
        background-color: RoyalBlue;
    }

    .btnSelected {
        background-color: White; 
        border: none;
        color: DodgerBlue;
        border: 1px solid blue;
        padding: 3px 3px;
        font-size: 9px;
        cursor: pointer;
    }

    .mainContainer {
        width: 665px;
        height: 370px;
        font:12px/170% Verdana, Tahoma, sans-serif;
    }


    .menuBar {                   /* menu.php */
        width:350px;
        height:20px;
        background-color: #FFFFFF;
    }

    .scansForUpldContainer {     /* selScansForUpload.php */
        width:350px;
        height:150px;
        background-color: #FF7070;
    }

    .scanListContainer {         /* selScansForUpload.php */
        width:350px;
        height:150px;
        overflow:auto;
        background-color: #FFAA70;
    }

    .docSelectionContainer {     /* captureDocDetails.php */
        width:350px;
        height:150px;
        overflow: auto;
        font:10px/150% Verdana, Tahoma, sans-serif;
        background-color: yellow;
    }

    .transCreateContainer {      /* captureDocDetails.php */
        width:350px;
        height:150px;
        overflow:auto;
        background-color: #FF7070;
    }

    .docDisplayIframe {          /* selScansForUpload.php, captureDocDetails.php */
        width:300px;
        height:370px;
    }

} 

.butToggleOn {
    cursor:pointer;
    display: inline-block;
    width: 135px;
    height: 20px;
    float:  left;
    color: #444444;
    background-color: #AADDAA;
    font-size: 12px;
    text-align: left;
    padding-left: 5px;
    padding-right: 0px;
    padding-top: 1px;
    padding-bottom: 2px;
    text-decoration: none;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 5px;
  /*  border: 1px solid #aaaaaa;
    border-radius: 5px; */
    white-space: nowrap;
}

.butToggleOn:hover {
    background-color: #AAF4AA;
}

.butToggleOff {
    cursor:pointer;
    display: inline-block;
    width: 135px;
    height: 20px;
    float:  left;
    color: #444444;
    background-color: #CCCCCC;
    font-size: 12px;
    text-align: left;
    padding-left: 5px;
    padding-right: 0px;
    padding-top: 1px;
    padding-bottom: 2px;
    text-decoration: none;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 5px;
  /*  border: 1px solid #aaaaaa;
    border-radius: 5px; */
    white-space: nowrap;
}

.butToggleOff:hover {
    background-color: #EEEEEE;
}


